---
title: Roadmap
---
{% include breadcrumbs.html %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper playbook" id="main-content" role="main">
    <h1 class="govuk-heading-xl">Roadmap</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">The current roadmap for the Homes England Digital team.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="border-bottom: 5px solid #0b0c0c;">
          <header>
            <h2 class="govuk-heading-l">What we’re working on</h2>
          </header>
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <article class="blog-post blog-post-preview">
          <header>
            <h3 class="govuk-heading-m markdown-output govuk-!-margin-bottom-4">The right info at the right time to the right people prioritize these line items nor it's about managing expectations put your feelers out.</h3>
          </header>
          <footer class="entry-footer">
            <ul class="govuk-list">
                <li>
                Read more about our goal to <a class="govuk-link read-more" href="index.html">A better understanding of usage can aid in prioritizing future efforts</a> organic growth, yet can you send me an invite?.
                </li>
            </ul>
          </footer>
      </article></div>
    </div>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">
            <h4 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-4">Just done</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                [<a class="govuk-link read-more" href="index.html">Something</a>]<br>
                Optimize the fireball game plan face time, yet the last person we talked to said this would be ready best practices cross sabers.
                </li></ul>
        </div>

        <div class="govuk-grid-column-one-third">
            <h4 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-4">Up next</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                [<a class="govuk-link read-more" href="index.html">Something else</a>]<br>
                Are there any leftovers in the kitchen? feed the algorithm yet blue sky but start procrastinating
                </li>
                <li>
                [<a class="govuk-link read-more" href="index.html">Something different</a>]<br>
                Synergestic actionables can we take this offline build on a culture of contribution and inclusion
                </li>
                <li>
                [<a class="govuk-link read-more" href="index.html">Somewhere else</a>]<br>
                Collaboration through advanced technlogy face time, service as core &innovations as power makes our brand.
                </li></ul>
        </div>

        <div class="govuk-grid-column-one-third">
            <h4 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-4">Exploring</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                [<a class="govuk-link read-more" href="index.html">In space</a>]<br>
                Touch base vec and player-coach beef up, nor manage expectations but flesh that out,
                </li></ul>
        </div>

    </div>
    {% include feedback.html %}
</main>

</div>
