---
layout: default
---

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        {% if page.collection == 'weeknotes' %}
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/weeknotes.html">Weeknotes</a></li>
        <li class="govuk-breadcrumbs__list-item">{{ page.title }}</li>
        {% else %}
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/blog.html">Blog</a></li>
        <li class="govuk-breadcrumbs__list-item">{{ page.title }}</li>
        {% endif %}
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <article  class="govuk-body">
          <h2 class="govuk-heading-l">{{ page.title }}</h2>
          <!-- <p class="byline author vcard">
            {{ page.date | date_to_string }}
            {% assign author = site.authors | where: 'short_name', page.author | first %}
            {% if author %}
              - <a href="{{ author.url }}">{{ author.name }}</a>
            {% endif %}
          </p> -->
          <p class="byline author vcard">
            <span class="govuk-visually-hidden">Posted by:</span>
            <span class="author url fn" rel="author">{{ page.author }}</span>,
            <span class="govuk-visually-hidden">Posted on:</span>
            <time class="updated" datetime="2020-10-02" pubdate="">{{ page.date | date_to_string }}</time>
          </p>
          {{ content }}
        </article>
      </div>
      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
              Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                  <li><a href="{{ site.baseurl }}/playbook.html">Delivery Playbook</a></li>

                  <li><a href="{{ site.baseurl }}/about.html">Our Team</a></li>

                  <li><a href="{{ site.baseurl }}/roadmap.html">Roadmap</a></li>
                  </ul>
              </nav>
        </aside>

      </div>
    </div>
  </main>
  {% include feedback.html %}
</div>
